html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: 'Open Sans', sans-serif;
font-weight: 400;
color: #666;
font-size: 12px;
line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #f6ae3b;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #f6ae3b;
	background-image: linear-gradient(to bottom, #f6ae3b, #f6ae3b);
	background-repeat: repeat-x;
}
/* top */
#top {
	padding: 4px 0px 3px 0;
    margin: 0 0 0px 0;
    min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #f6ae3b;
	background-image: linear-gradient(to bottom, #f6ae3b, #f6ae3b);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
    margin: 15px 0 10px 0;
    max-width: 300px;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 36px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
    line-height: 18px;
    padding: 10px 15px;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
	font-size: 12px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	min-height: 40px;
    max-width: 600px;
    float: right;
}
#menu .nav > li > a {
    color: #757575;
    border-bottom: solid 2px #FFFFFF;
    padding: 10px 10px;
    min-height: 15px;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 14px;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	border-bottom: solid 2px #FCAD3A;
	color: #FCAD3A;
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}


#menuservicos .nav > li > a {
    color: #999;
    padding: 10px 10px;
    min-height: 15px;
    margin-left: 0px;
    font-size: 12px;
}
#menuservicos .nav > li > a:hover, #menuservicos .nav > li.open > a {
	color: #666;
}
#menuservicos .dropdown-menu {
	padding-bottom: 0;
}
#menuservicos .dropdown-inner {
	display: table;
}
#menuservicos .dropdown-inner ul {
	display: table-cell;
}
#menuservicos .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menuservicos .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menuservicos .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	font-size: 12px;
}
#menuservicos .see-all:hover, #menuservicos .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menuservicos #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menuservicos .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menuservicos .btn-navbar:hover, #menuservicos .btn-navbar:focus, #menuservicos .btn-navbar:active, #menuservicos .btn-navbar.disabled, #menuservicos .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menuservicos .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menuservicos {
	}
	#menuservicos div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menuservicos div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menuservicos .dropdown-inner {
		display: block;
	}
	#menuservicos .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menuservicos .dropdown-menu a:hover,
	#menuservicos .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menuservicos .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}


/* content */
#content {
	min-height: 445px;
}
/* footer */
footer {
    padding-top: 30px;
    background-color: #f6ae3b;
    color: #FFFFFF;
    padding-bottom: 100px;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
    margin: 0px 0px 10px 0;
	padding: 8px 0;
	/* border: 1px solid #ddd; */
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 0px 0 10px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	/* border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg); */
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
	overflow: auto;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	border: 0px;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #f6ae3b;
	background-image: linear-gradient(to bottom, #f6ae3b, #f6ae3b);
	background-repeat: repeat-x;
	border-color: #f6ae3b #f6ae3b #f6ae3b;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #f6ae3b;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f6ae3b);
	background-repeat: repeat-x;
	border-color: #f6ae3b #f6ae3b #f6ae3b;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #f6ae3b;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
    background-color: #363636;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 100px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}

.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}

@media (max-width: 768px) {
.product-list .product-thumb .button-group {
	border-left: none;
}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
.product-thumb .button-group button, .product-thumb .button-group button + button {
	width: 33.33%;
}
}
@media (max-width: 767px) {
.product-thumb .button-group button, .product-thumb .button-group button + button {
	width: 33.33%;
}
}




.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}




.flexslider .slides img {
	width: inherit;
}
.flexslider.carousel .slides img {
	width: auto;
}
.slides {
	padding: 0;
	margin:0;
	list-style: none;
}
.slides li {
	text-align: center;
}
.slides li img {
	text-align: center;
}
.flex-direction-nav a:before {
	line-height: 40px;
}

/* WebCA Custom */
.col-center {
	text-align: center;
}




/* Home preços */
.first-decision ul {
    list-style-type: none;
    margin: 25px 0px;
    padding: 0px;
    text-align: center;
    color: #333;
  }
  .first-decision .title {
    font-size: 36px;
    height: 50px;
  }
  .first-decision .bullet-item {
    border-top: 1px solid #EFEFEF;
    font-size: 20px;
    padding: 15px 0;
  } 
  .first-decision .prices {
    border-top: 1px solid #EFEFEF;
    width: 100%;
  }
  .first-decision .price-inline {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: 100px;
  }
  .first-decision .button-more-info {
    float: left;
    margin-top: 22px;
    margin-left: 25px;
  }
  .first-decision .pricetag-large, .first-decision .pricetag {
    float: left;
  }

  .pricetag {
    color:#000;
    height:75px;
    display:inline-block;
  }
  .pricetag .price-before {
    font-size:18px;
    line-height:18px;
    float:left;
    height:26px;
    margin-top:49px;
  }
  .pricetag .price-1 {
    font-size:75px;
    line-height:75px;
    /*font-weight:bold;*/
    float:left;
    position:relative;
    height:75px;
  }
  .pricetag .right-box {
    float:left;
  }
  .pricetag .price-2 {
    font-size:40px;
    line-height:49px;
    /*font-weight:bold;*/
    text-align:left;
    height:49px;
  }
  .pricetag .price-after {
    font-size:18px;
    line-height:18px;
    height:26px;
  }
  .pricetag-large {
    color:#000;
    height:100px;
    display:inline-block;
  }
  .pricetag-large .price-before {
    font-size:24px;
    line-height:24px;
    float:left;
    height:35px;
    margin-top:65px;
  }
  .pricetag-large .price-1 {
    font-size:100px;
    line-height:100px;
    /*font-weight:bold;*/
    float:left;
    position:relative;
    height:100px;
  }
  .pricetag-large .right-box {
    float:left;
  }
  .pricetag-large .price-2 {
    font-size:54px;
    line-height:65px;
    /*font-weight:bold;*/
    text-align:left;
    height:65px;
  }
  .pricetag-large .price-after {
    font-size:24px;
    line-height:24px;
    height:35px;
  }

  .btn-wca {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #f08c00;
    color: #000;
    border: 0;
    font-size: 16px;
    padding: 10px 25px;
    /* border-radius: 0px; */
    font-weight: 900;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select
  }





/* WebCA Contato Home */
.container-contato {
	background-color: #f6ae3b;
	height: 150px;
	margin-bottom: 0px;
	  background: -webkit-radial-gradient(#f6ae3b, #f6ae3b); /* Safari 5.1 to 6.0 */
	  background: -o-radial-gradient(#f6ae3b, #f6ae3b); /* For Opera 11.6 to 12.0 */
	  background: -moz-radial-gradient(#f6ae3b, #f6ae3b); /* For Firefox 3.6 to 15 */
	  background: radial-gradient(#f6ae3b, #f6ae3b); /* Standard syntax */
  	border-top-left-radius: 15px; border-top-right-radius: 15px;
}

.content-incluso {
	background-color: #F8F8F8;
	padding-bottom: 20px;
    margin-bottom: 30px;
}




.container-titulo {
    color: #FFF;
    margin: 0px;
    padding-top: 10px;
}
.container-tema {
	background-color: #F8F8F8;
	height: 650px;
	margin: 0px;
}



/* WebCA info Home */
.container-info {
	background-color: #171314;
	height: 625px;
	margin-bottom: 30px;
	padding: 10px;

	background: -webkit-radial-gradient(#322c2d, #171314); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#322c2d, #171314); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#322c2d, #171314); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#322c2d, #171314); /* Standard syntax */
}


/* WebCA info Home */
.container-plan {
	padding-top: 70px;
	padding-bottom: 40px;
}



/* WebCA passos Home */
.container-info2 {
	background-color: #FFFFFF;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.container-passos {
	float: left;
	margin: 30px;
	width: 320px;
	text-align: center;
}
.container-passos-img {
	width: 200px;
	height: 200px;
	background-color: #EEEEEE;
	margin: auto;
}
.container-passos-titulo {
	font-size: 20px;
	padding: 15px;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

}

/* WebCA newsletter */
.newsletter-col {
	float: left;
	margin: 10px;
}
.newsletter-col-1 {
	width: 460px;
	font-size: 32px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 35px;
	text-align: right;
	padding-top: 25px;
}
.newsletter-col-2 {
	width: 622px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding-top: 31px;
}
.newsletter-nome {
	height: 42px;
}
.newsletter-ddd {
	width: 40px;
	height: 42px;
}
.newsletter-telefone {
	width: 195px;
	height: 42px;

}

.wcainclusoitem {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #333;
  height: 120px;
}
.wcainclusotitulo {
  width: 310px;
  margin-left: 15px;
  float: right;
  line-height: 1.5;
}

.wca-templatethumb {
    display: inline-block;
    width: 221px;
    height: 221px;
    background-size: 100%;
    background-position: center;
    margin: 2px;
    border: #FFF solid 3px;
  }
  .wca-templatethumb:hover {
  	/* background-size: 120%;
    border: #FFF solid 3px;  f6ae3b */
  }
.tema-col-1 {
  width: 100%;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 35px;
  text-align: right;
}

.wca-navtop {
	border-bottom: 1px solid #e2e2e2;
}

.wca-font {
	font-family: 'Indie Flower', cursive;
}
.wca-font2 {
	font-family: 'Fjalla One', cursive;
}

.wca-amarela {
	color: #f6ae3b;
}

.wca-logo-gray {
	display: inline-block; 
	width: 79px;
	height: 15px;
	background-image: url('//lojavirtual.digital/image/catalog/webca/logo_nb_gray.png');
	background-size: 79px 15px;
	font-size: 1px;
}
.wca-logo-gray:hover {
	background-image: url('//lojavirtual.digital/image/catalog/webca/logo_nb.png');
}

.wca-logo-white {
	display: inline-block; 
	width: 105px;
	height: 20px;
	background-image: url('//lojavirtual.digital/image/catalog/webca/logo_nb_white.png');
	background-size: 105px 20px;
	font-size: 1px;
}
/*
.wca-logo-white:hover {
	background-image: url('//lojavirtual.digital/image/catalog/webca/logo_nb.png');
}*/

.wca-footer-mid {
  display: inline-block;
  width: 567px;
}

 
.footer-contato {
  display: inline-block; 
  width: 49%;
  padding: 20px;
  padding-bottom: 40px;
  padding-top: 0px;
  color: #f6ae3b;
  font-size: 24px;
}

.wca-incluso-title {
    font-size: 14px;
font-weight: bold;
margin-top: 20px;
  }
  .wca-incluso-funcionalidades {
    padding-left: 30px;
    list-style-image: url('/image/catalog/webca/icon-check.png');

    font-size: 13px;
  }
  
  .wca-incluso-func-col {
    display: inline-block;
    width: 24%;
  }

  .wca-inc-col1 {
  display: inline-block; 
  width: 33%;
  text-align: right;
  padding: 5px;
}
.wca-inc-col2 {
  display: inline-block; 
  width: 33%;
  text-align: center; 
  padding: 5px;
}
.wca-inc-col3 {
  display: inline-block; 
  width: 33%;
  text-align: center; 
  padding: 5px;
}

.wca-inc-line-alter { background-color: #FFF; }
.wca-inc-line {
  border: solid 1px;
  border-bottom: 0px;
}




/* TOPO */
.col-sm-5 {
    margin-top: 10px;
}
.col-sm-3 {
    margin-top: 10px;
}

/* Footer - prefooter */
.footer_box img {
	max-width: 100%;
}
.prefooter {
	padding: 30px 0px;
    background: #F8F8F8;
    margin-top: 30px;
}
.prefooter h5 {
    color: #1d1f20;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    padding-bottom: 8px;
}
.prefooter .col-sm-3 li:first-child {
    border-top: 0;
}
.prefooter .col-sm-3 li {
    padding: 10px 0 1px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #666;
}
.prefooter a {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #666;
}
.prefooter a:hover {
	color: #f6ae3b;
}

/* Footer - Atendimento */
.shipping-wrap {
    background: #474747;
    height: 120px;
    line-height: 120px;
}
.shipping p {
    color: #ffffff;
    display: inline-block;
    margin-right: 14px;
    line-height: 120px;
    padding-left: 15px;
    font-size: 20px;
}
.buttonss {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    background: #ffffff;
    border-radius: 10px;
    font: 700 16px 'Open Sans' sans-serif;
    padding: 10px 21px;
    text-transform: uppercase;
    color: #F69124;
    margin-left: 50px;
}
.shipping .fa-phone {
	color: #FFF;
	font-size: 20px;
}




/* Modelos */
.modeloshome {
	width: 33.3333%;
}





/* Centro - Criar loja */
.criar-wrap {
    background: #f6ae3b;
    height: 120px;
    line-height: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.criar p {
    color: #ffffff;
    display: inline-block;
    margin-right: 14px;
    line-height: 120px;
    padding-left: 15px;
    font-size: 20px;
}
.buttonss {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    background: #ffffff;
    border-radius: 10px;
    font: 700 16px 'Open Sans' sans-serif;
    padding: 10px 21px;
    text-transform: uppercase;
    color: #F69124;
    margin-left: 50px;
}
.criar .fa-phone {
	color: #FFF;
	font-size: 20px;
}








/* Centro - Feature */
.feature-wrap {
    background: #f2f2f2;
    height: 430px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.feature p {
    color: #ffffff;
    display: inline-block;
    margin-right: 14px;
    line-height: 120px;
    padding-left: 15px;
    font-size: 20px;
}
.buttonss {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    background: #ffffff;
    border-radius: 10px;
    font: 700 16px 'Open Sans' sans-serif;
    padding: 10px 21px;
    text-transform: uppercase;
    color: #F69124;
    margin-left: 50px;
}
.feature .fa-phone {
	color: #FFF;
	font-size: 20px;
}













/* WebCA info Home */
.container-info {
	background-color: #171314;
	height: 625px;
	margin-bottom: 30px;
	padding: 10px;

	background: -webkit-radial-gradient(#322c2d, #171314); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#322c2d, #171314); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#322c2d, #171314); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#322c2d, #171314); /* Standard syntax */
}


/* WebCA info Home */
.container-plan {
	padding-top: 70px;
	padding-bottom: 40px;
}



/* WebCA passos Home */
.container-info2 {
	background-color: #FFFFFF;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.container-passos {
	float: left;
	margin: 30px;
	width: 300px;
	text-align: center;
}
.container-passos-img {
	width: 200px;
	height: 200px;
	background-color: #EEEEEE;
	margin: auto;
}
.container-passos-titulo {
	font-size: 20px;
	padding: 15px;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

}






/* WEBCA - Header */
  .promocao {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: red;
  z-index: 100;
  color: #FFFFFF;
  }
  .faceicon {
    font-size: 22px;
  }
  .fb-like {
    margin-right: 5px;
    margin-top: 10px;
    float: right;
  }
  .face-group {
    float: right;
    margin: 10px;
    color: #49649F;
  }
  .face-group:hover {
    color: #F6AE3B;
  }

  .telefonebox {
    background-color: #FCAD3A; 
    float: right;
    margin-top: -10px;
    margin-left: 20px;
    height: 45px;
    width: 200px;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .telefonebox:hover {
    background-color: #757474;
  }
  .navitenscirc {
    float: left;
    background-color: #F6AE3B;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #FFF;
  }
  .nav>li>a:focus, .nav>li>a:hover {
    background-color: #fff;
  }





/* WEBCA - Rodape comece agora */
  .comecaragora {
    position: fixed;
    width: 100%;
    margin: 0px;
    background-color: #F8F8F8;
    border-top: 1px solid #d6d6d6;
    height: 100px;
    bottom: 0px;
    top: auto;
    z-index: 999;
  }
  .comecaragora-col1 {
    float: left;
    margin-right: 205px;
  }
  .comecaragora-col2 {
    float: right;
    margin: 35px 15px;
  }
  .comecaragora-col4 {
    float: left;
    margin-top: 5px;
    width: 230px;
  }
  .comecaragora-col3 {
    float: left;
    margin: 15px 15px;
  }
  .comecaragora-col5 {
    float: left;
  }
  .comecaragora-col6 {
    float: right;
    margin-right: 205px;
  }
  .comecaragora-text1 {
    text-align: right;
    font-size: 24px;
  }
  .comecaragora-text2 {
    text-align: right;
  }
  .comecaragora-text3 {
    font-size: 18px;
    text-transform: uppercase;
  }
  .comecaragora-text5 {
    float: left;
  }
  .quadrdinho {
    float: left;
    background-color: #F6F6F6;
    background-size: 40px;
    margin: 10px 3px;
    height: 40px;
    width: 40px;
    border: solid 1px #F6AE3B;
    border-radius: 3px;
  }




/* Banners da home */
  .slider-titulo-acompanhe {
    text-align: center;
    font-size: 31px;
    line-height: 40px;
    margin-left: 755px;
    padding: 15px;
    color: rgba(85,85,85,1);
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    padding-top: 75px;
  }
  .slider-titulo-estoque {
    text-align: center;
    font-size: 31px;
    line-height: 40px;
    padding: 15px;
    color: rgba(85,85,85,1);
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    padding-top: 90px;
    width: 600px;
  }
  .slider-titulo-modelo {
    text-align: center;
    font-size: 31px;
    line-height: 40px;
    width: 550px;
    padding: 15px;
    color: rgba(85,85,85,1);
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    padding-top: 120px;
  }
  .slider-container {
    margin: auto;
    width: 1170px;
    position: absolute;
    top: 0px;
  }
  .btn-primary-modelos {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5CB83B;
    background-repeat: repeat-x;
    border-color: #349970 #349970 #349970;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    width: 175px;
    height: 55px;
    margin-left: 165px;
  }
  .btn-primary-comecar {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #D97B71;
    background-repeat: repeat-x;
    border-color: #621E15 #621E15 #621E15;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    width: 175px;
    height: 55px;
    margin-left: 110px;
  }
  .btn-primary-comecar2 {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #D97B71;
    background-repeat: repeat-x;
    border-color: #621E15 #621E15 #621E15;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    width: 175px;
    height: 55px;
    margin-left: 210px;
}

/* home - plugins thumb */
.product-thumb:hover {
	border: solid 1px #f6ae3b;
	box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.6);
	transform: scale(1.02);
	backface-visibility: hidden;
	image-rendering: pixelated;
	transition: transform 200ms linear;
	will-change: transform;
}